.bio-blurb {
  font-size: 1.5rem;
  max-width: 60rem;
  transition: max-height 0.3s ease-in-out;
  max-height: 20rem;
  overflow: hidden;
  margin-bottom: 1.4rem;
}

.bio-blurb.hide {
  max-height: 0;
  margin-bottom: 0;
}

.bio-blurb p {
  margin: 0.8rem 0;
}
