.bio-portfolio-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--text-color);
  }
}

.bio-portfolio {
  // Styles for the portfolio container
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 3rem;
  gap: 4rem;

  &__resume {
    font-size: 2.7rem;
  }

  // Styles for all portfolio
  li {
    transition: transform 0.3s ease-in;
    color: var(--link-color);

    &:hover {
      transform: scale(1.2);
      color: var(--link-hover-color);
      cursor: pointer;
    }
  }
}
