.bio-portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  transition: max-height 0.3s ease-in-out;

  &--expanded {
    .bio-portfolio__list {
      display: flex;
    }
    .bio-portfolio__button {
      span:last-child {
        transform: rotate(180deg);
      }
    }

    .bio-portfolio__list {
      max-height: 50rem;
    }
  }

  &__button {
    background: none;
    border: none;
    color: var(--text-primary);
    font-size: 2.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 6rem;
    justify-content: center;
    border-radius: 2rem;
    padding: 0.75rem 1.5rem 0.5rem 1.5rem;

    svg {
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      color: var(--link-hover-color);
      background-color: var(--bg-secondary);
      svg {
        transform: rotateY(180deg) translateY(0.2rem);
      }
    }

    span {
      transition: transform 0.3s ease-in-out;
    }
  }

  &__list {
    // Styles for the portfolio container
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    gap: 1rem;
    max-height: 0rem;
    transition: max-height 0.3s ease-in-out;
    overflow-y: hidden;
    max-width: 60rem;

    a {
      font-size: 2.2em;
      text-decoration: none;
      width: fit-content;
      color: var(--text-primary);
      border: 2px solid var(--bg-secondary);
      border-radius: 2rem;

      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      justify-content: center;
      align-items: center;
      color: var(--text-primary);
      background-color: var(--bg-secondary);
      padding: 0.5rem 1rem 2rem 1rem;
    }

    a:hover,
    a:focus {
      color: var(--link-hover-color);
      cursor: pointer;
      border: 2px solid var(--text-primary);
      border-radius: 2rem;
    }

    h4 {
      margin: 0;
      font-size: 3.2rem;
    }

    p {
      margin: 0;
      font-size: 1.6rem;
    }
  }
}
