.bio-links-container {
  position: fixed;
  background-color: var(--bg-secondary);
  width: 100%;
  bottom: 0;
  left: 0;
  height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (prefers-color-scheme: light) {
    border-top: 2px solid var(--border-color);
  }
}

.bio-links {
  // Styles for the links container
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 3rem;
  gap: 3.5rem;

  &__resume {
    font-size: 2.7rem;
  }

  li {
    transition: transform 0.3s ease-in;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  // Styles for all links
  a {
    padding: 0 0.2rem;
    color: var(--link-color);

    &:hover {
      color: var(--link-hover-color);
    }
  }
}
